<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>

    <div class="container">
        <div class="page">
            <h1>Contact Us</h1>
            <p style="margin-top:15px;">Email: support@myshop.com</p>
            <p>Address: Dhaka, Bangladesh</p>
            <p>Phone: +880 1XXXXXXXXX</p>
        </div>
    </div>

</body>
</html>