<!DOCTYPE html>
<html>
<head>
    <title>Payment Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
{% include 'navbar.html' %}


<div class="container page">
    <h1>Select Payment Method</h1>
    <p>Customer Name : {{user.name}}</p>
    <p>Delivery Address : {{user.address}}</p>
    <div style="margin-top:30px;">
        <a href="/order-success" class="btn" style="margin:10px;">Cash On Delivery</a>
        <a href="/order-success" class="btn" style="margin:10px;background:#28a745;">Online Payment</a>
    </div>
</div>
<!-- floating cart code here -->
</body>
</html>