<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    {% include 'navbar.html' %}


    <div class="container">
        <div class="page">
            <div style="display:flex; gap:30px; flex-wrap:wrap;">
                <img src="/static/images/{{ product.img }}" width="250" height="250" style="border-radius:10px;">
                <div>
                    <h1>{{ product.name }}</h1>
                    <h2 style="color:#e74c3c;">${{ product.price }}</h2>
                    <p style="margin:15px 0; font-size:17px;">{{ product.desc }}</p>
                    <a href="/add-to-cart/{{ product.id }}">
                        <button class="btn" style="border:none;">Add to Cart</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% include 'floating_cart.html' %}
<a href="/add-to-wishlist/{{product.id}}" class="btn" style="background:#e63946;">❤️ Add To Wishlist</a>
<h3>Reviews</h3>
<form method="post" action="/add-review/{{product.id}}">
    <select name="rating" required>
        <option value="5">5 ⭐</option>
        <option value="4">4 ⭐</option>
        <option value="3">3 ⭐</option>
        <option value="2">2 ⭐</option>
        <option value="1">1 ⭐</option>
    </select>
    <textarea name="comment" placeholder="Write review..." required></textarea>
    <button type="submit">Post Review</button>
</form>

{% for r in reviews %}
<div style="border:1px solid #ddd; padding:10px; margin:10px 0;">
    <strong>{{ r.user.username }}</strong> | {{ r.rating }} ⭐
    <p>{{ r.comment }}</p>
</div>
{% endfor %}

</body>
</html>