<!DOCTYPE html>
<html>
<head>
    <title>Order Placed</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/products">All Products</a>
    <a href="/cart">Cart</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</div>
<div class="container page" style="text-align:center;padding:50px;">
    <h1 style="color:green;">🎉 Order Placed Successfully!</h1>
    <p>Thank you for shopping with us. We will deliver soon.</p>
    <a href="/" class="btn" style="margin-top:20px;">Back To Home</a>
</div>
</body>
</html>